<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Showing Article</h1>
    <p>Title: <%= @article.title %></p>
    <p>Description: <%= @article.description %></p>

  </body>
</html>
